.main{
   flex:1;
   min-height: 100vh;
   padding-bottom: 15vh;
   position: relative; 
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color:#585858
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main-container{
    max-width:900px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding:20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg, #00F260, #0575E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 20px;
    padding: 0px 20px;
}

.main .card{
    height:150px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    cursor:pointer;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color:#585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #cdcdcd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


.main-bottom{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    max-width:900px;
    padding: 0px 20px 10px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #ced2d6;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 25px;
    cursor: pointer;
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    padding: 8px;
    background:transparent;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: #555;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
   margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-title img{
    width: 40px;
    border-radius: 50%;
}

.result-title p{
    font-size: 16px;
    color: #333;
}

.result-data{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.result-data img{
    width: 80px;
    margin-top: 5px;
}

.result-data p{
    line-height: 1.5;
    color: #333;
    white-space: pre-wrap;
}



.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background: linear-gradient(to right, #a3cdf6, #93eeb8, #a3cdf6);
    background-size: 800px 50px;
    height: 20px;
    animation: loading 1.2s linear infinite;
}


@keyframes loading {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;

}

@media (max-width: 600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }

    .main-bottom img{
        width: 20px;
    }

    .search-box{
        padding: 5px 10px;
    }

    .search-box div{
        gap: 5px;
    }
}